@page
@model ControleEstoqueW.Pages.Produtos.BaixaEstoqueModel
@{ }

<h1>Baixa de Estoque</h1>
<hr />

<form method="post">

    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary">
                <div class="card-header" style="background-color:#b41212;">
                    <h3 class="card-title"><i class="nav-icon fas fa-arrow-alt-circle-down"></i> Informações do Produto</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card card-primary">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="form-group col-md-3">
                                            <label class="control-label">Quantidade de Baixa</label>
                                            <input name="quantidade" id="quantidade" class="form-control" />
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <p>Dados do produto que você está operando:</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label asp-for="Produto.ID" class="control-label">ID do produto</label>
                                            <input class="form-control" type="text" asp-for="Produto.ID" readonly />
                                        </div>
                                        <div class="form-group col-md-10">
                                            <label asp-for="Produto.Descricao" class="control-label">Descrição</label>
                                            <input asp-for="Produto.Descricao" readonly class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-3">
                                            <label asp-for="Produto.Quantidade" class="control-label">Quantidade Atual</label>
                                            <input asp-for="Produto.Quantidade" class="form-control" readonly />
                                        </div>
                                        <div class="form-group col-md-9">
                                            <label asp-for="Produto.Categoria" class="control-label">Categoria</label>
                                            <input asp-for="Produto.Categoria" id="categoria" name="categoria" class="form-control custom-select" readonly />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-secondary">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label asp-for="Produto.Quantidade" class="control-label">Imagem do Produto</label>
                                        <img src="" class="img-circle img-size-32 mr-2"
                                             alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <input type="submit" value="Retirar do Estoque" style="margin-right: 20px; background-color: #b41212; border: 1px solid #007bff;" class="btn btn-success float-left">
                            <a asp-page="/Produtos/SaldoEstoque" class="btn btn-secondary float-right">Cancelar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>