@page
@model ControleEstoqueW.Pages.Produtos.EntradaEstoqueModel
@{ }

<h1>Entrada de Estoque</h1>
<hr />

<form method="post">

    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title"><i class="nav-icon fas fa-arrow-alt-circle-down"></i> Informações do Produto</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card card-primary">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label asp-for="Produto.ID" class="control-label">ID do produto</label>
                                            <input class="form-control" type="text" asp-for="Produto.ID" readonly />
                                        </div>
                                        <div class="form-group col-md-8">
                                            <label asp-for="Produto.Descricao" class="control-label">Descrição</label>
                                            <input asp-for="Produto.Descricao" readonly class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-3">
                                            <label asp-for="Produto.Quantidade" class="control-label">Quantidade Atual</label>
                                            <input asp-for="Produto.Quantidade" class="form-control" readonly />
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label class="control-label">Quantidade de Entrada</label>
                                            <input name="quantidade" id="quantidade" class="form-control" />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label asp-for="Produto.Categoria" class="control-label">Categoria</label>
                                            <input asp-for="Produto.Categoria" id="categoria" name="categoria" class="form-control custom-select" readonly />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-secondary">
                                <div class="card-body">
                                    <div class="form-group">

                                        <!--<input type="file" id="imagem" accept=".png, .jpg, .jpeg" name="imagem" class="form-control"> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <input type="submit" value="Adicionar ao Estoque" style="margin-right: 20px; background-color: #007bff; border: 1px solid #007bff;" class="btn btn-success float-left">
                            <a asp-page="/Produtos/SaldoEstoque" class="btn btn-secondary float-right">Cancelar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript" language="javascript">
    function Func() {
        alert("Teste")
    }
</script>
