@page
@model ControleEstoqueW.Pages.Produtos.EntradaEstoqueModel
@{ }

<h1>Entrada de Estoque</h1>
<hr />

<form method="post">

    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title"><i class="nav-icon fas fa-arrow-alt-circle-down"></i> Informações do Produto</h3>
                </div>
                <div class="card-body">


                    <div class="row">
                        <div class="col-md-8">
                            <div class="card card-primary">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label asp-for="Produto.ID" class="control-label">ID do produto</label>
                                            <input class="form-control" type="text" asp-for="Produto.ID" readonly />
                                        </div>
                                        <div class="form-group col-md-8">
                                            <label asp-for="Produto.Descricao" class="control-label">Descrição</label>
                                            <input asp-for="Produto.Descricao" readonly class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label asp-for="Produto.Quantidade" class="control-label">Quantidade de Entrada</label>
                                            <input asp-for="" id="quantidade" class="form-control" />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label asp-for="Produto.Categoria" class="control-label">Categoria</label>
                                            <input asp-for="Produto.Categoria" id="categoria" name="categoria" class="form-control custom-select" readonly />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-secondary">
                                <div class="card-body">
                                    <div class="form-group">

                                        <!--<input type="file" id="imagem" accept=".png, .jpg, .jpeg" name="imagem" class="form-control"> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <a href="@Url.Action("Index", "Home")" class="btn btn-secondary">Cancelar</a>
                            <input type="submit" value="Adicionar ao Estoque" class="btn btn-success float-right">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    document.getElementById("quantidade").innerHTML=0;
</script>